<div>
  <h2>Authors</h2>
  <input type="text" [(ngModel)]="searchTerm" placeholder="Search authors..." />
  <button (click)="onAddAuthor()">+ Add author</button>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Author</th>
        <th>Published</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let author of filteredAuthors; let i = index" (click)="onSelectAuthor(author.id)">
        <td>{{ i+1 }}</td>
        <td>{{ author.name }}</td>
        <td>{{ author.published ? 'Yes' : 'No' }}</td>
      </tr>
    </tbody>
  </table>
</div>